body {
    background-color: white;
    text-align: center;
    font-family: "Comic Sans MS", Times, serif;
}

#container {
    width: 450px;
    height: 480px;
    margin: auto;
}

#winner {
    visibility: hidden;
}

#grid {
    width: 450px;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    font-size: 100px;
}

#grid div {
    background-color: white;
    width: 150px;
    height: 150px;
    border: 5px solid black;
    box-sizing: border-box;
}

#player1,
#player2 {
    margin-right: 30px;
}

.current-player {
    color: white;
    background-color: black;
}